<h2 id="readme">README</h2>
<p><code>C:\_\keyprism3\._plato\assets\scripts</code></p>
<ul>
<li><code>brain_uid</code> - <code>09335629-E824-3836-6E1A-8A30325D2C09</code></li>
<li><code>thought_id</code> - <code>179</code></li>
<li><code>thought_uid</code> - <code>0DD9445B-12DA-4EFC-EAE7-620872A9B77B</code></li>
<li><code>vp_url</code> - <code>keyprism3.vpp://shape/D9m0SNqGAqAAAhRx/5bu0SNqGAqAAAhR.</code></li>
<li><code>vp_url_overview</code> - <code>keyprism3.vpp://shape/YcUAPVqGAqAAAhK3/l9CfiNqGAqAAAhLP</code></li>
<li><code>FmColorName</code> - <code>gray-dark</code></li>
<li><code>ColorHex</code> - <code>#7D7D85</code></li>
<li><code>ColorRgb</code> - <code>125,125,133</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Cscripts"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-48.png" /></a> <em>Plato Scripts and Script Directories</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%37%35%26webthought_id%3D%31%37%35%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FCRF%34SNqGAqAAAhN%30%2F.zt%34SNqGAqAAAhOD%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FZxSviNqGAqAAAhKL"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Cscripts%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/keyprism%33.vpp%3A%2F%2Fshape%2FD%39m%30SNqGAqAAAhRx%2F%35bu%30SNqGAqAAAhR."><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/keyprism%33.vpp%3A%2F%2Fshape%2FD%39m%30SNqGAqAAAhRx%2F%35bu%30SNqGAqAAAhR."><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/%30DD%39%34%34%35B-%31%32DA-%34EFC-EAE%37-%36%32%30%38%37%32A%39B%37%37B"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/keyprism3/keyprism3-plato/src/master/assets/scripts/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/09335629-E824-3836-6E1A-8A30325D2C09#-179"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/keyprism3/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/keyprism3/vp/publish/content/PackageDiagram_D9m0SNqGAqAAAhRx.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Cscripts%5Cbundles%5CDesktop.ini%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%38%30%26webthought_id%3D%31%38%30%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2F%34CcMSNqGAqAAAhS%36%2FZKiMSNqGAqAAAhTJ%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FdzufiNqGAqAAAhLi"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Cscripts%5Cbundles%5CDesktop.ini%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%38%30%26webthought_id%3D%31%38%30%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2F%34CcMSNqGAqAAAhS%36%2FZKiMSNqGAqAAAhTJ%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FdzufiNqGAqAAAhLi"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>bundles</code> - Plato Codemirror Scripts</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Cscripts%5Cvendor%5CDesktop.ini%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%38%31%26webthought_id%3D%31%38%31%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FZlPMSNqGAqAAAhTq%2FsnAsSNqGAqAAAhT%33%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2F.NlfiNqGAqAAAhLv"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Cscripts%5Cvendor%5CDesktop.ini%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%38%31%26webthought_id%3D%31%38%31%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FZlPMSNqGAqAAAhTq%2FsnAsSNqGAqAAAhT%33%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2F.NlfiNqGAqAAAhLv"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>vendor</code> - Plato Vender Library Scripts</li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Cscripts%5Ccodemirror.markpopovertext.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>codemirror.markpopovertext.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Cscripts%5Cplato-display.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>plato-display.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Cscripts%5Cplato-file.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>plato-file.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Cscripts%5Cplato-overview.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>plato-overview.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Cscripts%5Cplato-sortable-file-list.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>plato-sortable-file-list.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Cscripts%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
