<h2 id="readme">README</h2>
<p><code>C:\_\keyprism3\._plato\assets\css</code></p>
<ul>
<li><code>brain_uid</code> - <code>09335629-E824-3836-6E1A-8A30325D2C09</code></li>
<li><code>thought_id</code> - <code>176</code></li>
<li><code>thought_uid</code> - <code>E1FD142E-33C5-3E02-35ED-C3DC96E6E64D</code></li>
<li><code>vp_url</code> - <code>keyprism3.vpp://shape/3QvESNqGAqAAAhPM/vG4kSNqGAqAAAhPb</code></li>
<li><code>vp_url_overview</code> - <code>keyprism3.vpp://shape/YcUAPVqGAqAAAhK3/SKZviNqGAqAAAhKa</code></li>
<li><code>FmColorName</code> - <code>gray-dark</code></li>
<li><code>ColorHex</code> - <code>#7D7D85</code></li>
<li><code>ColorRgb</code> - <code>125,125,133</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Ccss"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-48.png" /></a> <em>Plato Styles</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%37%35%26webthought_id%3D%31%37%35%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FCRF%34SNqGAqAAAhN%30%2F.zt%34SNqGAqAAAhOD%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FZxSviNqGAqAAAhKL"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Ccss%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/keyprism%33.vpp%3A%2F%2Fshape%2F%33QvESNqGAqAAAhPM%2FvG%34kSNqGAqAAAhPb"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/keyprism%33.vpp%3A%2F%2Fshape%2F%33QvESNqGAqAAAhPM%2FvG%34kSNqGAqAAAhPb"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/E%31FD%31%34%32E-%33%33C%35-%33E%30%32-%33%35ED-C%33DC%39%36E%36E%36%34D"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/keyprism3/keyprism3-plato/src/master/assets/css/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/09335629-E824-3836-6E1A-8A30325D2C09#-176"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/keyprism3/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/keyprism3/vp/publish/content/PackageDiagram_3QvESNqGAqAAAhPM.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Ccss%5Cvendor%5CDesktop.ini%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%37%37%26webthought_id%3D%31%37%37%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FOKbkSNqGAqAAAhQK%2FWLnkSNqGAqAAAhQZ%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FsDTviNqGAqAAAhKp"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Ccss%5Cvendor%5CDesktop.ini%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%37%37%26webthought_id%3D%31%37%37%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FOKbkSNqGAqAAAhQK%2FWLnkSNqGAqAAAhQZ%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FsDTviNqGAqAAAhKp"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>vendor</code> - Plato Vender Styles</li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Ccss%5Cmorris.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>morris.css</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Ccss%5Cplato-display.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>plato-display.css</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Ccss%5Cplato-file.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>plato-file.css</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Ccss%5Cplato-overview.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>plato-overview.css</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Ccss%5Cplato.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>plato.css</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Ccss%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
