<h2 id="readme">README</h2>
<p><code>C:\_\keyprism3\._plato\assets</code></p>
<ul>
<li><code>brain_uid</code> - <code>09335629-E824-3836-6E1A-8A30325D2C09</code></li>
<li><code>thought_id</code> - <code>175</code></li>
<li><code>thought_uid</code> - <code>1BAB47EA-C39C-EFA6-7E39-A188A7E81769</code></li>
<li><code>vp_url</code> - <code>keyprism3.vpp://shape/CRF4SNqGAqAAAhN0/.zt4SNqGAqAAAhOD</code></li>
<li><code>vp_url_overview</code> - <code>keyprism3.vpp://shape/YcUAPVqGAqAAAhK3/ZxSviNqGAqAAAhKL</code></li>
<li><code>FmColorName</code> - <code>gray-dark</code></li>
<li><code>ColorHex</code> - <code>#7D7D85</code></li>
<li><code>ColorRgb</code> - <code>125,125,133</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-48.png" /></a> <em>Plato styles, fonts and scripts</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._plato%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%34%26webthought_id%3D%34%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2Fk.%35%38SNqGAqAAAhXC%2F%38MN%38SNqGAqAAAhXO%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2Fo%34jOPVqGAqAAAh%30C"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/keyprism%33.vpp%3A%2F%2Fshape%2FCRF%34SNqGAqAAAhN%30%2F.zt%34SNqGAqAAAhOD"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/keyprism%33.vpp%3A%2F%2Fshape%2FCRF%34SNqGAqAAAhN%30%2F.zt%34SNqGAqAAAhOD"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/%31BAB%34%37EA-C%33%39C-EFA%36-%37E%33%39-A%31%38%38A%37E%38%31%37%36%39"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/keyprism3/keyprism3-plato/src/master/assets/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/09335629-E824-3836-6E1A-8A30325D2C09#-175"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/keyprism3/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/keyprism3/vp/publish/content/PackageDiagram_CRF4SNqGAqAAAhN0.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Ccss%5CDesktop.ini%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%37%36%26webthought_id%3D%31%37%36%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2F%33QvESNqGAqAAAhPM%2FvG%34kSNqGAqAAAhPb%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FSKZviNqGAqAAAhKa"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Ccss%5CDesktop.ini%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%37%36%26webthought_id%3D%31%37%36%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2F%33QvESNqGAqAAAhPM%2FvG%34kSNqGAqAAAhPb%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FSKZviNqGAqAAAhKa"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>css</code> - Plato Styles</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Ccss+-+Copy%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Ccss+-+Copy%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>css - Copy</code></li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Cfont%5CDesktop.ini%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%37%38%26webthought_id%3D%31%37%38%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FEmZUSNqGAqAAAhRC%2FmAVUSNqGAqAAAhRP%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2Fb.IfiNqGAqAAAhK%38"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Cfont%5CDesktop.ini%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%37%38%26webthought_id%3D%31%37%38%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FEmZUSNqGAqAAAhRC%2FmAVUSNqGAqAAAhRP%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2Fb.IfiNqGAqAAAhK%38"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>font</code> - Plato Fonts - FontAwesome</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Cscripts%5CDesktop.ini%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%37%39%26webthought_id%3D%31%37%39%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FD%39m%30SNqGAqAAAhRx%2F%35bu%30SNqGAqAAAhR.%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2Fl%39CfiNqGAqAAAhLP"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5Cscripts%5CDesktop.ini%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%37%39%26webthought_id%3D%31%37%39%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FD%39m%30SNqGAqAAAhRx%2F%35bu%30SNqGAqAAAhR.%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2Fl%39CfiNqGAqAAAhLP"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>scripts</code> - Plato Scripts and Script Directories</li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cassets%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
