<h2 id="readme">README</h2>
<p><code>C:\_\keyprism3\._plato\files</code></p>
<ul>
<li><code>brain_uid</code> - <code>09335629-E824-3836-6E1A-8A30325D2C09</code></li>
<li><code>thought_id</code> - <code>184</code></li>
<li><code>thought_uid</code> - <code>349EF9C4-75DC-E67B-4AB7-44F5D6E1D31E</code></li>
<li><code>vp_url</code> - <code>keyprism3.vpp://shape/n5o8SNqGAqAAAhWR/mgk8SNqGAqAAAhWe</code></li>
<li><code>vp_url_overview</code> - <code>keyprism3.vpp://shape/YcUAPVqGAqAAAhK3/Wlm_iNqGAqAAAhMp</code></li>
<li><code>FmColorName</code> - <code>gray-dark</code></li>
<li><code>ColorHex</code> - <code>#7D7D85</code></li>
<li><code>ColorRgb</code> - <code>125,125,133</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cfiles"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-48.png" /></a> <em>html index, scripts, and json per file - `both_externals_js/index.html'</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._plato%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%34%26webthought_id%3D%34%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2Fk.%35%38SNqGAqAAAhXC%2F%38MN%38SNqGAqAAAhXO%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2Fo%34jOPVqGAqAAAh%30C"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cfiles%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/keyprism%33.vpp%3A%2F%2Fshape%2Fn%35o%38SNqGAqAAAhWR%2Fmgk%38SNqGAqAAAhWe"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/keyprism%33.vpp%3A%2F%2Fshape%2Fn%35o%38SNqGAqAAAhWR%2Fmgk%38SNqGAqAAAhWe"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/%33%34%39EF%39C%34-%37%35DC-E%36%37B-%34AB%37-%34%34F%35D%36E%31D%33%31E"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://webbrain.com/brainpage/brain/09335629-E824-3836-6E1A-8A30325D2C09#-184"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/keyprism3/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/keyprism3/vp/publish/content/PackageDiagram_n5o8SNqGAqAAAhWR.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<ul>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>both_ctrl_ctrl_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>both_externals_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>both_main_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>both_tracex_tracex_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>client_FlowHelpers_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>client_main_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_api_generate_data_app_tests_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_api_lists_lists_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_api_lists_lists_tests_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_api_lists_methods_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_api_lists_server_publications_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_api_todos_incompleteCountDenormalizer_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_api_todos_methods_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_api_todos_server_publications_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_api_todos_todos_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_api_todos_todos_tests_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_api_users_server_publications_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_api_users_users_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_both_configs_accounts_accounts_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_both_configs_index_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_both_index_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_both_modules_index_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_both_modules_schemas_index_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_both_modules_schemas__schemas_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_both_modules__modules_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_both_routes_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_both_useraccounts_configuration_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_client_configs_accounts_accounts_onlogin_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_client_configs_accounts_index_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_client_configs_index_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_client_headicons_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_client_index_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_client_methods_example_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_client_methods_index_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_client_modules_devui_devui_icons_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_client_modules_devui_devui_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_client_modules_devui_devui_setups_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_client_modules_devui_index_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_client_modules_flow_helpers_flow_helpers_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_client_modules_flow_helpers_index_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_client_modules_foo_foo_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_client_modules_index_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_client_modules__modules_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_client_router_accounts_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_client_router_general_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_client_router_index_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_client_router__config_router_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_server_account_hooks_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_server_configs_accounts_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_server_configs_index_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_server_configs_services_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_server_index_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_server_methods_fixtures_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_server_methods_index_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_server_methods_users_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_server_modules_index_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_startup_server_modules__modules_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_ui_components_Footer_Footer_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_ui_components_Header_Header_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_ui_components_InputError_InputError_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_ui_components_LoginForm_LoginForm_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_ui_components_LogoutForm_LogoutForm_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_ui_components_NavListItem_NavListItem_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_ui_components_RecoveryForm_RecoveryForm_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_ui_components_RegisterForm_RegisterForm_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_ui_components_Terms_Terms_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_ui_components_Test_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_ui_components_TextInput_TextInput_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_ui_components_ZxcvbnReport_ZxcvbnReport_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_ui_layouts_MainLayout_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_ui_pages_About_About_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_ui_pages_Home_Home_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_ui_pages_Login_Login_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_ui_pages_Logout_Logout_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_ui_pages_Recovery_Recovery_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_ui_pages_Register_Register_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_utils_PropsHelper_PropsHelper_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_utils_TooltipHelper_TooltipHelper_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>imports_utils_______jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>lib_extensions_extensions_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>packages_app_prod_security_package_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>packages_helpers_both_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>packages_helpers_client_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>packages_helpers_package_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>packages_helpers_server_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>server_main_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>tests_chimp_features_step_definitions_new_user_signup_with_email_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>tests_chimp_features_step_definitions_sign_up_page_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>tests_chimp_features_step_definitions_visit_home_page_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>tests_chimp_features_support_world_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>tests_foo_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>tests_mocha_bdd__asserts_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>tests_mocha_bdd__demo_is_valid_ss_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>tests_mocha_bdd__demo_is_valid_ss_test_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>tests_mocha_bdd__demo_subject_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>tests_mocha_bdd__demo_subject_test_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>tests_mocha_bdd__setup_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>tests_mocha_unit__asserts_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>tests_mocha_unit__demo_baz_jsx</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>tests_mocha_unit__demo_baz_test_js</code></li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>tests_mocha_unit__setup_js</code></li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._plato%5Cfiles%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
